//Abstracts
@use "./abstracts/__abstracts-dir" as ab;
//Base Styles
@import "./base/__base-dir";

// header {
//   position: absolute;
// }

// body {
//   background-color: black;
// }

.profile {
  position: relative;
  display: flex;
  background-color: ab.$blue;
  align-items: center;
  z-index: 2;

  img {
    border-radius: 100%;
    margin: 2rem 1rem 2rem 2rem;
    border: 4px solid ab.$white;
    width: 25%;
  } 
}

.title-name {
  .title {
    color: ab.$pale-blue;
    padding-bottom: 1rem;
  }

  .name {
    color: ab.$white;
  }
}

.time-frame {
  display: flex;
  // top: 1rem;
  background-color: ab.$very-dark-blue;
  margin-top: -7.5rem;
  align-items:flex-end;
  justify-content: space-between;
  padding: 0.75rem;
  z-index: 1;
  
  a {
    margin: 1rem;
    color: ab.$white;
    text-decoration: none;
  }
}

.box-style {
  width: 400px;
  height: 200px;
  border-radius: 1rem;
}

.box-color {
  background-color: ab.$light-red-work;
}

.hours-container {
  display: flex;
}