body {
  min-width: 280px;
}

.container {
  margin: 5.0625rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.card-container {
  padding-top: 1.5rem;
}

.activity-card {
  margin-bottom: 1.5rem;
}

@media (min-width: 870px){  
  .container {
    margin: 15.81rem auto 15.81rem auto;
    width: 95%;
    max-width: 1150px;
    display: flex;
    flex-direction: row;
  }
  
  .profile-card {
    float: left;
    max-height: 518px;
  }

  .card-container {
    padding-top: 0rem;
    display: flex;
    flex-wrap: wrap;
  }

  .activity-card {
    margin: 0 0 1.875rem 1.875rem;
  }
}